<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td class="money"></td>
<td class="money"><%= @account.money_balance %></td>
<td><a class="modify" href="/update/modify_entry?register_account_id=<%= @account.id %>">Add</a></td>
