<% unless (entries = @account.send("entries_to_reconcile", entry_type)).empty? %>
<table id="<%= entry_type %>_entries" class="table table-condensed table-bordered ">
<caption><%= entry_type.capitalize %> Entries</caption>
<thead><tr><th><abbr title="Cleared">C</abbr></th><th>Date</th><th>Num</th><th>Entity</th><th>Amount</th></tr></thead><tbody>
<%== render_each(entries, :_reconcile_entry, :locals=>{:entry_type=>entry_type}, :local=>:reconcile_entry) %>
</tbody></table>
<% end %>
