<% @pagetitle = "Balance Sheet" %>

<div class="row">
  <div class="col-md-4">
    <table class="table table-condensed table-bordered">
    <thead><tr><th>Asset Accounts</th><th>Balance</th></tr></thead>
    <tbody>
    <%== balance_sheet_rows(@assets) %>
    </tbody>
    <thead><tr><th>Liability Accounts</th><th>Balance</th></tr></thead>
    <tbody>
    <%== balance_sheet_rows(@liabilities) %>
    </tbody></table>
  </div>
</div>
