<% @pagetitle = "Create User" %>

<form method="post">
  <%== csrf_tag("/create-subuser") %>
  <label>Name: <input type="text" name="name" value="<%= @user.name %>" /> <%= (@user.errors['name']||[]).join(', ') %></label>
  <input type="submit" value="Create User" class="btn btn-primary" />
</form>
