<% @pagetitle = "Create User" %>

<form method="post" id="user-form">
  <%== csrf_tag("/create-subuser") %>
  <label for="user-name">Name</label>: <input type="text" id="user-name" name="name" value="<%= @user.name %>" /> <%= (@user.errors['name']||[]).join(', ') %>
  <input type="submit" value="Create User" class="btn btn-primary" />
</form>
