<% @pagetitle = "Import QIF File" %>

<form method="post" action="/qif/parse" enctype="multipart/form-data">
<input type="file" size="80" name="qif" /><br /> <br />
<input type="submit" value="Import QIF" />
</form>
