a, a:link, a:visited { 
	text-decoration: none; 
	color: #363;
}
a:hover { text-decoration: underline; }
a#banner {
	text-align: center;
	font-size: 18px;
	font-weight: bolder;
	font-variant: small-caps;
	margin: 5px;
	padding: 2px;
	border-width: 2px;
	border-color: #8A8;
	border-style: solid;
	font-family: serif;
	color: #FFF;
	background-color: #363;
	text-decoration: none;
}

body { 
	font-family: arial, helvetica, sans-serif, verdana;
	background-color: #CDC;
	font-size: 12px;
}

caption { font-size: 18px; }

div { 
	border-width: 0;
	margin: 0;
	padding: 0;
}
div#content {
	margin: 10px 10px 0 220px;
	padding: 0 25px 0 5px;
	width: auto;
}
div#nav {
	padding: 10px;
	position: absolute;
	top: 0;
	left: 0;
	width: 210px;
}
div#nav a {	display: block; }

div#debit_entries {
	float: left;
	border-width: 1px;
	text-align: center;
	padding: 5px;
}
div#balance, div#off_by { display: inline; }

div.auto_complete {
	width: 150px;
	background: #fff;
}
div.auto_complete ul {
	border:1px solid #888;
	margin:0;
	padding:0;
	width:100%;
	list-style-type:none;
}
div.auto_complete ul li {
	margin:0;
	padding:3px;
}
div.auto_complete ul li.selected { 
	background-color: #ffb; 
}
div.auto_complete ul strong.highlight { 
	color: #800; 
	margin:0;
	padding:0;
}

h1 { font-size: 20px; }
h2 { font-size: 18px; }
h3 { font-size: 16px; }
h4 { font-size: 14px; }

img { border-width: 0px; }

input, select { 
	border-style: solid;
	border-color: black;
	border-width: 1px;
	padding: 2px;
}
select { background-color: white; }

p {	padding: .5em 5px; }

table {
	border-width: 1px;
	border-style: solid;
	border-collapse: collapse;
	padding: 5px;
}
table thead, table tbody, table tr, table th, table td { 
	border-width: inherit; 
	border-style: inherit;
	padding: inherit;
	font-size: 12px;
}

table input, table select { font-size: 12px; }

table#reconcile input { margin: 2px; }

.centered { text-align: center; }

.email { 
	background-color: #ddd;
	padding: 0px 5px; 
}

.money { text-align: right;}
.name { text-align: left; }

.sitetitle { 
	text-align: center; 
	font-size: 24px;
}
