/* Turn off list bullets */
ul.association_links li { list-style: none; }

ul.association_links, ul.association_links ul, ul.association_links li {
  margin: 0;
  padding: 0; 
}

/* This controls the indent for each sublist */
ul.association_links ul, ul.association_links li a.treestatus { padding-left: 20px; }

/* Show "bullets" in the links, depending on the class of the
   LI that the link's in */
ul.association_links li.sat_open   a.treestatus { background: url("/images/minus.gif") center left no-repeat; }
ul.association_links li.sat_closed a.treestatus { background: url("/images/plus.gif") center left no-repeat; }
ul.association_links li.sat_bullet a.treestatus { background: url("/images/bullet.gif") center left no-repeat; }

/* Actually show and hide sublists */
ul.association_links li.sat_open ul { display: block; }
ul.association_links li.sat_closed ul { display: none; }
