a {
  &, &:link, &:visited {
	text-decoration: none; 
	color: #363;
  }
  &:hover { text-decoration: underline; }
}

body { background-color: #CDC; }

div#debit_entries {
	float: left;
	border-width: 1px;
	text-align: center;
	padding: 5px;
}
div#balance, div#off_by { display: inline; }

div.auto_complete {
	width: 150px;
	background: #fff;
  ul {
    border:1px solid #888;
    margin:0;
    padding:0;
    width:100%;
    list-style-type:none;
    li {
      margin:0;
      padding:3px;
      &.selected { background-color: #ffb; }
    }
    strong.highlight { 
      color: #800; 
      margin:0;
      padding:0;
    }
  }
}

img { border-width: 0px; }

input, select { 
  width: auto;
  line-height: auto;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	padding: 2px;
}

select { background-color: white; }
p {	padding: .5em 5px; }

table {
  input, select { font-size: 12px; }
}

table#register td { padding: 1px 5px; }
table#reconcile input { margin: 2px; }

table#earning_spending input {
  margin-left: 5px;
  line-height: auto;
  height: auto;
  margin-bottom: 0;
}

.centered { text-align: center; }

.email { 
	background-color: #ddd;
	padding: 0px 5px; 
}

.money { text-align: right;}
.name { text-align: left; }

.sitetitle { 
	text-align: center; 
	font-size: 24px;
}

div.form-actions {
  background-color: inherit;
  border-top-width: 0;
}

div.container-fluid {
  table {
    margin: auto;
    width: auto;
  }
  h1, h3 {text-align: center;}
}

div.navbar-inner {
  background-color: #141;
  background-image: none;
}

ul.dropdown-menu li.dropdown-menu-sub {
  padding: 3px 15px;
  ul { list-style: none outside none; margin: 0; }
}

#autoforme_content a.btn {color: white;}
