development:
  adapter: postgresql
  database: spam
  host: localhost
  username: spam
  password: 

test:
  adapter: postgresql
  database: spam
  host: localhost
  username: spam
  password:

production:
  adapter: postgresql
  database: spam
  host: localhost
  username: spam
  password: 
