<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td class="money"></td>
<td class="money"><%= @account.money_balance %></td>
<td><%= link_to_remote("Add", :complete=>evaluate_remote_response, :url=>"/update/modify_entry") %></td>