<td><%= entry.date %></td>
<td><%= entry.reference %></td>
<td><%=h(entry.entity.name) if entry.entity %></td>
<td><%= entry.other_account.name %></td>
<td><%= entry.memo %></td>
<td><%= entry.cleared ? 'R' : nil %></td>
<td class="money"><%= entry.money_amount %></td>
<td class="money"><%= @account.money_balance %> <% @account[:balance] -= entry.amount %></td>
<td><%= link_to_remote("Modify", {:url=>"/update/modify_entry/#{entry.id}"}, {:href=>"/update/modify_entry/#{entry.id}"}) %></td>
