<% @pagetitle = "Welcome" %>

<p>Welcome to <acronym title="$imple Personal Accounting Manager">$PAM</acronym> on Rails.  The fastest way to get started is to <a href="/qif/import">import a qif file</a>.</p>
